.banner {
  background-color: #1f8505;
  width: 100%;
}
.flexbox {
  display: flex;
  align-items: center;
  width: 100%;
}
.icon {
  width: 40px;
  height: auto;
  padding: 20px;
}
.logo {
  width: 100px;
  text-shadow: 3px 4px 2px #000000;
  text-align: center;
  font-family: "Changa One", sans-serif;
  font-size: 40px;
  color: white;
}
.logo-cotainer {
  width: 200px;
  
}
.links {
  display: flex;
  margin-left: auto;
}
.links > div {
  padding: 20px;
  color: white;
  text-decoration: none;
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer; 
}
.login {
  /* Style=Filled */
  box-sizing: border-box;
  /* Auto layout */
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  width: 100px;
  height: 40px;
  /* Icon color 2 */
  background: #155a03;
  /* text color 1 */
  border: 3px solid #104502;
  border-radius: 50px;
}
.login:hover{
  background-color: #0a8201; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}
.login-container{
  margin-top:10px;
}

@media screen and (max-width: 600px) {
  .flexbox {
    flex-direction: column;
    width: 100%;
  }
  .banner {
    background-color: #1f8505;
    width: 100%;
  }
 
}


.banner-button {
  display: inline-block; 
  background-color: #1f8505; 
  border-radius: 20px; 
  margin-top:12px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}


.banner-button:hover {
  background-color: #06a206; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}


.banner-button:active {
  transform: scale(0.95);
}

#banner-home{
  padding-top:15px;
  line-height: 20px;
  text-align: center;
  height: 30px;
  width: 100px;
  display: inline-block; 
  background-color: #1f8505; 
  border-radius: 20px; 
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  
  
}
#banner-mypage{
  padding-top:15px;
  line-height: 20px;
  text-align: center;
  height: 30px;
  width: 100px;
  display: inline-block; 
  background-color: #1f8505; 
  border-radius: 20px; 
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin-bottom:10px;
}

