/* General styles for the dashboard */

.container {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    /* width:200; */
}

.sidebar {
    background-color: #E8E8E8;/* #E8E8E8*/
    height: auto;
    padding: 20px;
    flex:  0 20%;
    text-align: center;
}

.sidebar-dark {
  width:100%;
  background-color: #504f4f;
}


.sidebar-buttons{
    padding-top: 30px;
}


.sidebar-buttons {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;

  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.sidebar-buttons-dark {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f9f6f6;

  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.sidebar button:hover {
    background-color: #95C289;
    border-radius: 10px;
    color: white;
}

.sidebar-bright {
  width:100%;
  background-color: #E8E8E8;
}


.selectedDashbord{
  width:100%;
  /* rgb(151, 148, 117) */
  
}
.selectedDashbord-bright {
  width:100%;
  background-color: rgb(252, 252, 252);
}

.selectedDashbord-dark {
  width:100%;
  background-color: rgb(143, 143, 141);
}

.profile{
    border-bottom: solid #1F8505;
    padding: 20px;
    color: #000;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.profile-dark{
  border-bottom: solid #1F8505;
  padding: 20px;
  color: #faf9f9;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

/* Style for the dashboard header */
.dashboard-header {
    color: #155A03;
    padding: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Changa One;
    font-size: 50px;
    font-style: normal;
    font-weight: 150px;
}
.dashboard-header-dark {
  color: #e6e7e6;
  padding: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Changa One;
  font-size: 50px;
  font-style: normal;
  font-weight: 150px;
}

/* Description and sorting area */
.description-and-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.description-and-sorting > div:first-child {
    font-size: 23px;
    color: rgb(16,69,2);
    font-weight: bold;
    padding: 0 5%;
    font-family: DM Sans;
}

.sort-buttons {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.right-align{
    text-align: right;
}

.sort-button {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    padding: 4px 20px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
}

.arrow{
    width: 100%;
    height: 100%;
    color:#000
}

.arrow-button{
    width: 25px;
    height: 25px;
    padding:0px;
    cursor: pointer;
    background-color: #B8D6B0;
    border-color: #B8D6B0;
}

.box-container {
    padding: 10px 80px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    border: solid #1F8505;
    padding: 20px 30px;
    cursor: pointer;
    box-shadow: 2px 2px 0 0 gray;
    background-color: #f8f9f7;
}

.box-dark{
  border: solid #c7c7c7;
  padding: 20px 30px;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 gray;  
  background-color: #4e544e;
}
.box:hover{
  border: solid #1F8505;
  padding: 20px 30px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px gray ;
}

.map-name{
    text-align: center;
    font-size: 23px;
    font-family: DM Sans;
    font-weight: bold;
    padding-right: 10px;
}

.map-name-dark{
  color:white;
  text-align: center;
  font-size: 23px;
  font-family: DM Sans;
  font-weight: bold;
  padding-right: 10px;
}

.delete{
    padding: 5px 10px;
    margin-right: 5px;
    color: white;
    text-shadow: -1px 0px green, 0px 1px green, 1px 0px green, 0px -1px green;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #DAEDD5;
}
/* Search Map View ------------------------------------*/

.search-box{
    position: relative;
    margin: 0px 60px 20px 60px;
    width: 85%;
}

.delete:hover{
  padding: 5px 10px;
  margin-right: 5px;
  color: white;
  text-shadow: -1px 0px green, 0px 1px green, 1px 0px green, 0px -1px green;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #b6d2af;
}

.glass{
    position:absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.search-button{
  height: 35px;
  width: 85px;
  font-weight: bolder;
  font-size: 1em;
  color: white;
  background-color: green;
  border-color: green;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 15px;
  cursor: pointer;
  margin-right:5px;
}
.search-button:hover {
  background-color: #4CAF50;
}
.search-input{
  width:100%;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .search-box{
    margin-left:50px;
    display:flex;
    width: 80%;
  }

  
}
/* ----------------------------------------------------*/
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /* w/ opacity */
  }
  
  .modal-content {
    background-color: #bf6b6b;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }





  .createEditAll{
    padding: 10px 20px;
  }
  .creat-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-bottom: 20px;
    width: 100%;
  }
  
  .title-section h1 {
    color: #008000;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px #b2d8b2;
  }
  
  .subtitle {
    color: #006400;
    font-size: 1.2em;
  }

  .create_detail{
    font-family: DM Sans;
    color: gray;
    margin-left: 13px;
    margin-bottom: 15px;
  }

  .create_detail-dark{
    color: rgb(255, 255, 255);
  }

  .button-section {
    text-align: right;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  .flex-container{
    display:flex;
    justify-content: space-between;
  }
  .mapjsx_button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: green;
  }
  
  .file-types {
    color: #555;
    font-style: italic;
    font-size: 0.8em;
  }

  #link-to-map-view{
    display: none;
  }

  #creatmap-fileInput{
    display: none;
  }

  .property-bar {
    display: flex;
    align-items: center;
    background-color: #e5f5e0;
    padding: 10px;
    border-radius: 5px;
  }

  .property-bar-dark {
    color:white;
    display: flex;
    align-items: center;
    background-color: #494949;
    padding: 10px;
    border-radius: 5px;
  }
  
  .create-map-bottom-bar label {
    padding: 5px 10px;
    border-radius: 5px 5px 5px 5px;
    color: rgb(21, 59, 22);
    font-weight: bolder;
    margin-right: 5px;
    height:20px;
  }
  
  .property-bar input {
    padding: 5px;
    margin-right: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    
  }
  
  .property-bar input:focus {
    outline: none;
    border-color: #49c14d;
  }

  .create-map-bottom-bar input{
    padding: 5px;
    margin-right: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 60%;
    height: 20px;
    font-size: 16px;
  }

  .create-map-bottom-bar-dark input{
    padding: 5px;
    margin-right: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 60%;
    height: 20px;
    font-size: 16px;
  }

 
  
  .attach-btn {
    background-color: #3d853e;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    
  }
  
  .icon-link, .icon-search {
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px;
    background-color: #3d853e;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 15px;
    height:50px;
  }
  
  /* Example of using a Unicode symbol as an icon */

  .create-map-bottom-bar {
    position: flex;
    bottom: 0;
    width: 300;
    background-color: #f1f1f1;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .create-map-bottom-bar-dark {
    color:white;
    position: flex;
    bottom: 0;
    width: 300;
    background-color: #494949;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .create-map-bottom-bar input:hover{
    border: 2px solid #888;
  }

  .create-map-bottom-bar-dark input:hover{
    border: 2px solid #888;
  }

  #create-button {
    background-color: #4CAF50; /* Green */
    border: none;
    width:200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  #create-button:hover {
    background-color: green;
  }
  #edit-button{
    background-color: #4CAF50; /* Green */
    border: none;
    width:200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  #edit-button:hover {
    background-color: green;
  }
  #cancel-button {
    background-color: #7dae7d; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  #cancel-button:hover {
    background-color: green;
  }
  #map-name {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 60%;
  }
  #map-name:hover{
    border: 2px solid #888;
  }

  .maptype{
    font-family: DM Sans;
    font-weight: 100;
    color: rgb(168, 168, 168);
    font-size: 25px;
  }
  .fork-content {
    position: absolute;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5c3;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    gap: 7px;
    margin-right: 10px
  }
  
  .fork-content input[type="text"] {
    padding: 6px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
    width: 70%;
    box-sizing: border-box; 
    font-style:italic
  }
  
  .fork-content .shareB {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fork-content .shareB:hover {
    background-color: #347838;
  }

  .fork{
    text-align: left;
  }

  .fork-select {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 9px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

  /* Sort dropdown button ------------------*/

  .sort-dropdown{
    margin-right: 30px;
  }
  .sort-dropdown select {
    padding: 8px 15px;
    border: 2px solid #ccc;
    color: #155A03;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.sort-dropdown select:hover {
    border-color: #888;
}

.sort-dropdown select:focus {
    border-color: #888;
}

/* Style the dropdown arrow */
.sort-dropdown select::-ms-expand {
    display: none;
}

.sort-dropdown option {
    padding: 10px;
}
/*------------------*/

/* Adjustments for small screens */
  @media screen and (max-width: 600px) {
    .create-map-bottom-bar {
      flex-direction: column;
    }
  
    #map-name, #cancel-button, #create-button {
      width: 90%;
      margin-bottom: 10px;
    }
    .button {
      margin-top:5px;
    }
    .creat-banner {
      flex-direction: column;
    }
    .createEditAll{
      width:90%;
      
    }
    .dashboard-header {
      text-align: center;
    }
    .sidebar{
      width: 90.8%;
      height: auto;
    }
    .MD-container{
      flex-direction: row;
    }
    #edit-button{
      margin-bottom: 10px;
    }
  }

  #export-modal {
    display:none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5c8937;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 9999;
  }

  .darkmodebutton{
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #000;
  }

  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Empty map view page */

.emptyMap{
  margin: auto;
  align-items: center;
  text-align: center;

}
.mapImage {
  width: 25%; 
  height: auto; 
}
.emptyText{
  font-family: 'Franklin Gothic Medium';
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  color: gray;
}

