.myprofile_all{
    padding: 50px;
    width: 100%;
}
input.profile_input, textarea { 
    background: #DAEDD5; 
    border: 0px white;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin: 10px;
    font-size: 17px;
    padding:10px;
}

.myprofile_H{
    color: #155A03;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Changa One;
    font-size: 50px;
    font-style: normal;
    font-weight: 150px;
}

.profi_bottoms{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.profi_content{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile_left h2{
    margin: 43px 0px
}

.profile_right{
    margin: 60px;
    width: 50%;
}

.changeInfo_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    margin: 20px;
    background: #1F8505;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    width: 270px;
    height: 40px;

    font-family: DM Sans;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.5px;

    color: #FFFFFF;
    text-decoration: none;
}

.changeInfo_btn:hover{
    background-color: #2FAF07; 
    cursor: pointer; 
    border-radius: 50px;
    
}

@media screen and (max-width:600px){
    input.profile_input, textarea { 
    background: #DAEDD5; 
    border: 0px white;
    border-radius: 5px;
    height: 30px;
    width: 70%;
    margin: 15px;
    
}
}