#discussion-switch{
    background-color: #4CAF50; /* Green */
    border: none;
    width:200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: fixed;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.MapView-page-container {
    display: flex;
    min-height: 100vh;
  }
 
  .content {
    flex: 1; /* Take up the remaining width */
    padding: 20px;
    background-color: white;
  }
  
  /* Sidebar link styles */
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: white;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  /* Responsive layout - makes the sidebar and the content stack on top of each other instead of next to each other, on smaller screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
    }
  
    .content {
      margin-top: 20px;
    }
  }


  .customize-toolbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center; /* Center the buttons container */
    padding: 20px;
    height: 50px;
  }

  .tool-btn {
    padding: 10px 20px;
    margin-left: 50px;
  font-size: 16px; /* Font size of the button text */
  cursor: pointer; /* Change the cursor on hover */
  text-align: center;/* Change cursor to pointer on hover */
  }

  #text-select{
    width:100px;
    margin-left:50px;
  }

  #color-button{
    display:grid;
    width:150px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: background-color 0.3s;
    grid-template-columns: 1fr 1fr;
  }

  #legend-button{
    margin-left:70px;
    width:100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  #text-save-button{
    width:200px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  #save-button{
    width:100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  .color-picker-button{
    font-size: 1em;
    border: 0;
    background-color: #4CAF50;
    color:white;
    width:100px;

  }

  .icons{
    padding-right:100px;
  }

  .legendsContainer{
    border-radius: 10px;
    margin-top:20px;
    margin-bottom:20px;
    padding-left:50px;
    display:felx;
    flex-wrap: wrap;
    background-color: #a2cca4;
  }