.inup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}
h1{
    font-size: 40px;
    letter-spacing: 3px;
}
.sign-logo{
    width: 70px;
    margin-right: 15px;
}
.bodys{
    display: flex;
    align-items: center;
    justify-content: center;

}
.leftText{
    align-items: center;
    text-align: center;
    margin-right: 50px;
}
.signup_input{
    height: 30px;
    width: 350px;
    border-radius: 15px;
    border: 1px solid #1F8505;
    margin: 8px;
}

.createB{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
margin-top: 20px;
background: #1F8505;
border-radius: 50px;

width: 150px;
height: 30px;

font-family: 'DM Sans';
font-style: normal;
font-size: 20px;
letter-spacing: 0.5px;

color: #FFFFFF;
text-decoration: none;

}

.createB:hover{
    background-color: #2FAF07;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .sign-logo {
    animation: bounce 1s 2;
  }


  @media (max-width: 600px) {
    .signup_input{
        width: 80%;
    }
    .sign-logo {
        animation: bounce 1s 2;
        margin-left:50px;
      }
  }