.inup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}
h1{
    font-size: 40px;
    letter-spacing: 3px;
}
.logo{
    width: 70px;
    margin-right: 15px;
}
.bodys{
    display: flex;
    align-items: center;
    justify-content: center;

}
.leftText{
    align-items: center;
    text-align: center;
    margin-right: 50px;
}
input{
    height: 30px;
    width: 350px;
    border-radius: 15px;
    border: 1px solid #1F8505;
    margin: 8px;
}

.createB{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
margin-top: 20px;
background: #1F8505;
border-radius: 50px;

width: 150px;
height: 30px;

font-family: 'DM Sans';
font-style: normal;
font-size: 20px;
letter-spacing: 0.5px;

color: #FFFFFF;
text-decoration: none;

}